:root {
    --pink: rgba(255, 71, 175, 1);
    --red: rgba(227, 35, 90, 1);
    --cream: rgb(255, 251, 239);
    --blue: rgba(66, 164, 215, 1);
    --teal: rgba(53, 190, 183, 1);
    --green: rgba(177, 193, 54, 1);
    --yellow: rgba(255, 206, 47, 1);
    --purple: rgba(92, 61, 114, 1);
    --orange: rgba(242, 99, 36, 1);
    --dark: rgba(26, 19, 51, 1);
}

/* Header */

/* Title Container */
#titlecontainer {
    background-color: var(--blue);
    height: 100px;
    margin-bottom: 30px;
    padding-top: 1px;
}

/* Title Text */
#title {
    color: var(--cream);
    font-size: 50px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

/* Search Box Container */
#searchbox {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#searchbutton {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Weather Forecast Container */
#weather-forecast {
    justify-content: center;
    align-items: top;
}

/* Today's Forecast Elements */
#cityName {
    color: var(--cream);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px
}

#todaysforecast {
    background-color: var(--teal);
    height: 250px;
    padding: 1px;
}
.todays-date{
    font-size:18px;
    color: var(--cream);
    margin-left: 20px;
    margin-bottom: 15px;
}

.todays-temp {
    color: var(--cream);
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.todays-wind {
    color: var(--cream);
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.todays-humid {
    color: var(--cream);
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 15px;
}

/* 5-Day Forecast Container */
.five-day-forecast-container {
    display:flex;
    align-items: right;
    justify-content: right;
}

/* 5-Day Forecast Title */
#five-day-forecast-title {
    display:flex;
    justify-content: center;
    margin-right: 40rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

/* 5-Day Forcast Card Formatting */
.card-body{
    margin-right: 20px;
    height: 300px;
    margin-bottom: 20px;
    background-color: var(--blue);
}

.card-date {
    padding-top: 25px;
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 25px;
    color: var(--cream)
}

.card-temp {
    margin-left: 25px;
    font-size: 18px;
    margin-bottom: 25px;
    color: var(--cream)
}

.card-wind {
    margin-left: 25px;
    font-size: 18px;
    margin-bottom: 25px;
    color: var(--cream)
}

.card-humid {
    margin-left: 25px;
    font-size: 18px;
    margin-bottom: 25px;
    color: var(--cream)
}

